@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Signika", sans-serif;
    font-weight: 400;
}

.btn-primary {
    background-color: rgb(66, 103, 178);
}

.btn-dark {
    background-color: black;
}

.btn-success {
    background-color: rgb(30, 215, 96);
}

.container {
    height: 4.8vw;
    width: 50vw;
    margin: auto;
    text-align: center;
}

.pass-forgot {
    color
}